#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Update SteamDeckSTR
Exec=curl https://raw.githubusercontent.com/Cyphs/SteamDeckSTR/master/install.sh | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
