#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Vortex
Exec=/home/deck/.Cyphs/SteamDeckSTR-tests/vortex/install-vortex.sh
Icon=/home/deck/.Cyphs/SteamDeckSTR-tests/vortex/vortex.ico
Terminal=true
Type=Application
StartupNotify=false
