#!/usr/bin/env xdg-open
[Desktop Entry]
Name=STR Post-Deploy
Exec=/home/deck/.Cyphs/SteamDeckSTR-tests/vortex/skyrim-post-deploy.sh
Icon=/home/deck/.Cyphs/SteamDeckSTR-tests/vortex/STRDeck.ico
Terminal=true
Type=Application
StartupNotify=false
