#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Undo STR
Exec=/home/deck/.Cyphs/SteamDeckSTR-master/vortex/Undo-STR.sh
Icon=uninstall
Terminal=true
Type=Application
StartupNotify=false